/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@charset 'UTF-8';
/* Base Styles */
/* type selectors */
article,aside,figure,footer,header,nav,section {
	display: block;
}

html {
	padding-top: 0px;
	padding-bottom: 5px;
	/*background: #5C9CCC;*/
    background: #DEEBF4;
    /*height: 100%;*/
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	width: 1300px;
	margin: 0 auto;
    background-color: white;
    /*height: 100%;*/
}

header {
	/*border: 1px solid #000080;*/
	padding: 5px;
	background-color: white;
	/*background: #000080;*/
	height: 85px;
}

#logo {
	float: left;
	margin: auto;
	height: 80px;
	with: 30px;
}

header h1 {
	font-size: 250%;
	text-indent: 25px;
	margin: auto;
	color: #193060;
}

#cssmenu ul,#cssmenu li,#cssmenu a {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	font-family: 'Lato', sans-serif;
}

#cssmenu {
	border: 1px solid #133e40;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	width: auto;
	margin-bottom: 20px;
}

#cssmenu ul {
	zoom: 1;
	background: #000080;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color',
		endColorstr='@bottom-color', GradientType=0);
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#cssmenu ul:before {
	content: '';
	display: block;
}

#cssmenu ul:after {
	content: '';
	display: table;
	clear: both;
}

#cssmenu li {
	float: left;
	margin: 0 5px 0 0;
	border: 1px solid transparent;
}

#cssmenu li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding: 8px 15px 9px 15px;
	display: block;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid transparent;
	font-size: 16px;
}

#cssmenu li.active {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #36b0b6;
}

#cssmenu li.active a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	background: #1e6468;
	border: 1px solid #133e40;
	-moz-box-shadow: inset 0 5px 10px #133e40;
	-webkit-box-shadow: inset 0 5px 10px #133e40;
	box-shadow: inset 0 5px 10px #133e40;
}

#cssmenu li:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #36b0b6;
}

#cssmenu li:hover a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	background: #1e6468;
	border: 1px solid #133e40;
	-moz-box-shadow: inset 0 5px 10px #133e40;
	-webkit-box-shadow: inset 0 5px 10px #133e40;
	box-shadow: inset 0 5px 10px #133e40;
}

}
section {
	border: 1px solid #000080;
	padding: 30px;
}
/*vmce overide of tabs panel height*/
.ui-tabs .ui-tabs-panel {
	min-height: 450px;
	/*clear:both;*/
}
/* Elegant Aero */
.elegant-aero {
	/*width: 800px;*/
	width: 450px;
	margin: 0 auto;
	/*margin-right: 0 auto;
	margin-left: 0 auto;*/
	background: #DDF0F8;
	padding: 30px 30px 20px 30px;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	float: left;
}

.elegant-aero  h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 10px 20px 30px;
	display: block;
	background: #D0E6F0;
	margin-top: -30px;
	margin-left: -30px;
	margin-right: -30px;
	border-bottom: 1px solid #B9E1F1;
}

.elegant-aero h1>span {
	display: block;
	font-size: 11px;
}

.elegant-aero label>span {
	float: left;
	margin-top: 10px;
	color: #5E5E5E;
}

.elegant-aero label {
	display: block;
	margin: 0px 0px 5px;
}

.elegant-aero label>span {
	float: left;
	width: 75px;
	text-align: left;
	padding-right: 10px;
	margin-top: 10px;
	font-weight: bold;
}

.elegant-aero input[type="text"],.elegant-aero input[type="password"],.elegant-aero select
	{
	color: #888;
	width: 95%;
	padding: 5px 4px 0px 5px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #CEE2E7;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	font: 200 24px/24px Arial, Helvetica, sans-serif;
}

.elegant-aero select {
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 40%;
}

.elegant-aero .button {
	padding: 10px 30px 10px 30px;
	background: #66C1E4;
	border: none;
	color: #FFF;
}

.elegant-aero .button:hover {
	background: #3EB1DD;
}

#loginForm {
    width: 300px; 
}

#userId #password {
    width: 100%;   
}
#tableClear{
	clear:both;
}
footer {
	font-size: 90%;
	text-align: center;
	/*border: 1px solid #000080;*/
	color: white;
	background: #193060;
	margin-top: 10px;
    /*clear:both;*/
}
nav {
	background-color: #193060;
	/*background-color: #355F83;*/
	height: 42px;
}
#homeImg{
    display: block;
    float:left;
    margin-right: 20px;
    height: 250px;
    /*border-color: 1px solid black;*/
}
#homeArticle{
    margin-left: 20px;
    float: left;
    border-color: #193060;
}
#homeArticle h1{
    font-size: 125%;
	font-family: verdana;
	color: #193060;
}
article hr{
    border-color: #5C9CCC;
    margin: -10px 0 1px 0;
}

#userMessage {
	float: left;
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-left: 20px;
}

.logout,.login {
	float: right;
}

nav h1 {
	font-size: 75%;
	font-family: verdana;
	color: white;
}

table {
	width: 100%;
	border-bottom: 5px solid black;
	height: 500px;
}

td {
	text-align: center;
}

#imsiFailureSelect{
	width: 90%;
}
#imsiMessage{
	margin: 5px;
	padding:5px;
	/*background-color: #D0E6F0;*/
	font-size: 100%;
	font-family: verdana;
	text-align: center;
	color: black;
}
.tableDiv{
	display: block;
	float:left;
	min-width:600px;
	margin:0px 5px 5px 30px;
	padding: 5px;
	/*border: 3px solid #B9E1F1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height:15px;*/
}
