nav {
	background-color: #193060;
	/*background-color: #355F83;*/
	height: 42px;
}
#homeImg{
    display: block;
    float:left;
    margin-right: 20px;
    height: 250px;
    /*border-color: 1px solid black;*/
}
#homeArticle{
    margin-left: 20px;
    float: left;
    border-color: #193060;
}
#homeArticle h1{
    font-size: 125%;
	font-family: verdana;
	color: #193060;
}
article hr{
    border-color: #5C9CCC;
    margin: -10px 0 1px 0;
}

#userMessage {
	float: left;
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-left: 20px;
}

.logout,.login {
	float: right;
}

nav h1 {
	font-size: 75%;
	font-family: verdana;
	color: white;
}

table {
	width: 100%;
	border-bottom: 5px solid black;
	height: 500px;
}

/*
thead {
	width: 100%;
}

tbody {
	height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

th {
	background-color: #505050;
	font-size: 75%;
	font-family: verdana;
	text-align: center;
	color: white;
}

td {
	font-size: 75%;
	font-family: verdana;
}

tr:hover {
	background-color: #F0F0F0;
}

table,th,td {
	border: 1px solid #505050;
	border-collapse: collapse;
	padding: 2px;
}*/
/*
#imsiSearch{
	height:100px;
	display:block;
}*/
#imsiFailureSelect{
	width: 90%;
}
#imsiMessage{
	margin: 5px;
	padding:5px;
	/*background-color: #D0E6F0;*/
	font-size: 100%;
	font-family: verdana;
	text-align: center;
	color: black;
}
.tableDiv{
	display: block;
	float:left;
	min-width:600px;
	margin:0px 5px 5px 30px;
	padding: 5px;
	/*border: 3px solid #B9E1F1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height:15px;*/
}